body{
    margin: 0;
    padding: 0;
    background: url(img/verde.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
p {
	margin-left: 10px;  
	margin-right: 10px;  

}

div {
	margin: 20px;
}

nav {
	margin-top: 10px;
}
nav a {
	text-decoration: none;
	color: #eee;
	padding: 10px 20px;
}
#post {
	width: 75%;
	float: left;
	line-height: 1.5;
}
#sidebar {
	width: 22%;
	float: right;